html,
body {
    margin: 0;
    padding: 0;
}

.cal-wrapper {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.cal-center {
    width: fit-content;
    margin: auto;
    border: 1px solid black;
    text-align: center;
}

.padding-up-down {
    padding-top: 6px;
    padding-bottom: 5px;
}

.button-wrapper,
.num-wrapper {
    padding-left: 5px;
    padding-right: 5px;
}